.homeContainer {
  padding: 4rem 0;
}

.homeContainer:nth-of-type(2n) {
  background-color: var(--ifm-color-emphasis-100);
}

.title {
  text-align: center;
  font-size: 3rem;
}

.description {
  text-align: center;
  font-size: 18px;
  margin-bottom: 0;
}

.homeExample {
  margin: 3rem 0;
}

.buttonContainer {
  text-align: center;
  margin: 2rem 0;
}

.buttonContainer :global(.button--secondary) {
  border-radius: 9999px;
  border-color: var(--ifm-color-emphasis-400);
}

.image {
  --example-boxy-shadow-2: 0 0 0 1px hsla(0, 0%, 0%, 0.05);

  display: block;
  margin: 1rem auto;
  border-radius: var(--ifm-global-radius);
  box-shadow: var(--ifm-global-shadow-tl), var(--example-boxy-shadow-2);
}

html[data-theme="dark"] .image {
  --example-boxy-shadow-2: 0 0 0 1px hsla(0, 0%, 100%, 0.1);
}

/** In mobile view, reduce the padding */
@media screen and (max-width: 996px) {
  .homeExample {
    --example-border-radius: 0;
    --example-boxy-shadow-1: var(--ifm-global-shadow-lw);
  }

  .title {
    text-align: initial;
    font-size: 38px;
  }

  .description {
    text-align: initial;
    font-size: 16px;
  }

  .homeExample,
  .buttonContainer {
    margin: 1rem calc(-1 * var(--ifm-spacing-horizontal));
  }
}
