.heroExample {
  --row-border-color: var(--ifm-color-emphasis-500);
  --example-border-radius: var(--ifm-global-radius);
  --example-title-color: var(--ifm-color-emphasis-700);

  display: flex;
  flex-wrap: wrap;
  margin: 2rem 0;
}

.window {
  border: 1px solid var(--row-border-color);
  border-radius: var(--example-border-radius);
  min-width: 300px;
  overflow: hidden;
}

.windowHeader {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 10px;
  border-bottom: 1px solid var(--row-border-color);
  background-color: #f6f8fa;
}

.windowTitle {
  font-size: 13px;
  margin-left: 6px;
  color: var(--example-title-color);
  line-height: 1;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--row-border-color);
}

.window {
  flex: 1;
}

.editorContainer {
  width: 100%;
  height: 100%;
}

.previewPanel {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.preview {
  width: 100%;
  box-shadow: var(--ifm-global-shadow-lw);
  border-top-right-radius: var(--example-border-radius);
  border-bottom-right-radius: var(--example-border-radius);
  background-color: #f3f4f7;
  overflow: hidden;
}

.preview > iframe {
  display: block;
  width: 100%;
  height: 294px;
  margin: 0;
  border: none;
  visibility: hidden;
}

.preview > .ready {
  visibility: visible;
}

html[data-theme="dark"] .heroExample {
  --row-border-color: var(--ifm-color-emphasis-300);
  --example-title-color: var(--ifm-color-emphasis-500);
}

html[data-theme="dark"] .windowHeader {
  background-color: #212121;
}

html[data-theme="dark"] .preview {
  background-color: #29292d;
}

@media screen and (max-width: 996px) {
  .heroExample {
    flex-wrap: wrap;
  }

  .window,
  .previewPanel {
    flex: 100%;
  }

  .window {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .preview {
    border-top-right-radius: 0;
    border-bottom-left-radius: var(--example-border-radius);
  }

  .preview > iframe {
    height: 256px;
  }
}
