.example {
  --row-border-color: var(--ifm-color-emphasis-300);
  --example-border-radius: var(--ifm-global-radius);
  --example-boxy-shadow-1: var(--ifm-global-shadow-md);
  --example-boxy-shadow-2: 0 0 0 1px hsla(0, 0%, 0%, 0.05);

  display: flex;
  flex-wrap: wrap;
  margin-bottom: var(--ifm-leading);
  box-shadow: var(--example-boxy-shadow-1), var(--example-boxy-shadow-2);
  border-radius: var(--example-border-radius);
  background-color: #fffffe;
}

.editorColumn,
.previewColumn {
  width: 100%;
  min-width: 0;
  position: relative;
}

.editorColumn {
  overflow-x: hidden;
  overflow-y: auto;
}

.editorContainer {
  width: 100%;
  height: 100%;
}

.previewColumn {
  order: 4;
  border-top: 1px solid var(--row-border-color);
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.preview {
  box-shadow: var(--ifm-global-shadow-lw);
  border-radius: var(--example-border-radius);
  overflow: hidden;
  visibility: hidden;
}

.ready {
  visibility: visible;
}

.expanded .preview {
  position: sticky;
  /* padding * 2 + navbar height */
  /* 32px + 60px */
  top: 92px;
}

.collapsed {
  overflow: auto;
}

.preview > iframe {
  display: block;
  width: 100%;
  margin: 0;
  border: none;
}

.tabs {
  width: 100%;
  display: flex;
  border-bottom: 1px solid var(--row-border-color);
  font-size: var(--ifm-code-font-size);
  /* font-weight: 500; */
  padding: 0 var(--ifm-pre-padding);
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  overflow: hidden;
}

.tab {
  padding: 0.5rem 0.75rem;
  text-align: center;
  cursor: pointer;
  border: 0;
  border-bottom: 1px solid transparent;
  color: var(--ifm-color-primary);
  white-space: nowrap;
}

.tab.active {
  border-color: var(--ifm-color-primary);
}

.codeTextarea,
.codePre {
  padding-left: 60px !important;
}

.lineNumber {
  position: absolute;
  left: 0px;
  color: #cccccc;
  text-align: right;
  width: 40px;
  font-weight: 100;
}

.buttonToggleShowMore {
  width: 100%;
  border: 0;
  border-top: 1px solid var(--row-border-color);
  padding: 8px 16px;
  display: flex;
  align-items: center;
  gap: 6px;
  order: 3;
}

html[data-theme="dark"] .example {
  --row-border-color: rgb(48 47 57);
  --example-boxy-shadow-2: 0 0 0 1px hsla(0, 0%, 100%, 0.1);

  background-color: #1e1e1e;
}

html[data-theme="dark"] .tabs,
html[data-theme="dark"] .buttonToggleShowMore {
  background-color: var(--row-border-color);
}

html[data-theme="dark"] .previewColumn {
  background-color: var(--ifm-color-emphasis-100);
}

@media (min-width: 1280px) {
  .editorColumn,
  .previewColumn {
    flex: 50%;
  }

  .buttonToggleShowMore {
    order: 4;
  }

  .previewColumn {
    border-top: 0;
    border-left: 1px solid var(--row-border-color);
    border-bottom-left-radius: 0;
    order: 3;
  }

  .expandable .previewColumn {
    border-bottom-right-radius: 0;
  }

  .example:not(.expandable) :global(.prism-code),
  .example:not(.expandable) :global(.monaco-editor) {
    border-bottom-left-radius: var(--example-border-radius);
  }

  .example:not(.expandable) :global(.monaco-editor) :global(.overflow-guard) {
    border-bottom-left-radius: inherit;
  }

  html[data-theme="dark"] .buttonToggleShowMore {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
  }
}

@media (min-width: 1740px) {
  :global(.theme-doc-toc-desktop) {
    transform: translate(40px, 0);
  }

  .example:not(.condensed) {
    margin-left: -40px;
    margin-right: -40px;
  }
}

@media (min-width: 1900px) {
  :global(.theme-doc-toc-desktop) {
    transform: translate(80px, 0);
  }

  .example:not(.condensed) {
    margin-left: -80px;
    margin-right: -80px;
  }
}
