.container {
  --color-token-plain: #0451a5;
  --color-editor-cursor: #000000;

  height: 100%;
  position: relative;
}

.editor {
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.editor,
.editor :global(.prism-code) {
  border-radius: 0;
}

.editor :global(.prism-code) > code {
  padding-top: 12px;
  padding-bottom: 12px;
}

.editor [class^="codeLineNumber"] {
  min-width: 48px;
}

.editor [class^="buttonGroup"] {
  display: none;
}

.editor :global(.token.plain),
.editor
  :global(.token.plain):not(:empty):not(:first-child)
  + :global(.token.punctuation) {
  color: var(--color-token-plain) !important;
}

.cursor {
  position: absolute;
  width: 2px;
  height: 22px;
  background-color: var(--color-editor-cursor);
}

html[data-theme="dark"] .container {
  --color-token-plain: #ce9178;
  --color-editor-cursor: #aeafad;
}
